@model TestEntity2.Models.Categories
@{
    ViewData["Title"] = "Editer une catégorie";
}


<div class="row">
    <div class="col s12">
        <h2>Editer une catégories</h2>
        @Html.ActionLink("Retour à la liste des catégories", "Index", "Categories")
    </div>
</div>
<div class="row">
    <div class="col s12">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col s9">
                    <div class="row">
                        <div class="input-field col s12">
                            @Html.EditorFor(model => model.Title,
                                                new { htmlAttributes = new { @class = "validate" } })
                            @Html.LabelFor(model => model.Title)
                        </div>
                    </div>
                </div>
                <div class="col s3"> 
                    <div class="row">
                        <div class="col s12">
                            <button class="waves-effect waves-light btn-large"
                                    asp-area=""
                                    asp-controller="Categories"
                                    asp-action="Edit"
                                    type="submit">
                                Editer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
